{% extends 'base.html.twig' %}

{% block title %}Hello MainController!{% endblock %}

{% block body %}
    <h1>Welcome to our new website</h1>
    <a href="{{ path('app_login') }}" class="btn btn-success">Please authenticate you to follow...</a>
{% endblock %}
